<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Title>Title of this job</Title>
  <Description>A more detailed discription of this job.</Description>
  <DirectoryPath>C:\Darwin</DirectoryPath>
  <GenomeType chromosomes="3">1</GenomeType>
  <FitnessFunction>Tokamak</FitnessFunction>
  <Settings>
    <PopulationSize>100</PopulationSize>
    <MaxGenerations>10</MaxGenerations>
    <Truncation normalization="1">10</Truncation>
    <Elitism>true</Elitism>
    <MaxParents>2</MaxParents>
    <Recombination>2</Recombination>
  </Settings>
  <Mutations>
    <Duplication allowed="true">0.5</Duplication>
  
  </Mutations>
</Config>