<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Title>Title of this job</Title>
  <Description>A more detailed discription of this job.</Description>
  <DirectoryPath>C:\Darwin</DirectoryPath>
  <PeriodicSave>20</PeriodicSave>
  <GenomeType>1</GenomeType>
  <FitnessFunction>Tokamak</FitnessFunction>
  <Settings>
    <PopulationSize>100</PopulationSize>
    <TargetFitness>33750</TargetFitness>
    <Truncation normalization="1">50</Truncation>
    <Elitism>true</Elitism>
    <MaxParents>2</MaxParents>
    <Recombination >3</Recombination>
      <Termination>
        <MaxGenerations>100</MaxGenerations>
        <MaxTimeTotal>30</MaxTimeTotal>
        <MaxTimeGeneration>5</MaxTimeGeneration>
        <Stagnation>100</Stagnation>
      </Termination>
  </Settings>
  <Mutations>
    <Binary>
      <BitString allowed="true">0.05</BitString>
      <FlipBits allowed="true">0.05</FlipBits>
      <Boundary allowed="true">0.05</Boundary>
      <Uniform allowed="true">0.05</Uniform>
      <Duplication allowed="true">0.05</Duplication>
      <Deletion allowed="true">0.05</Deletion>
      <Insertion allowed="true">0.05</Insertion>
      <Swap allowed="true">0.05</Swap>
      <GeneDuplication allowed="true">0.05</GeneDuplication>
      <GeneDeletion allowed="true">0.05</GeneDeletion>
      <GeneInsertion allowed="true">0.05</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </Binary>
    <Integer>
      <BitString allowed="true">0.05</BitString>
      <Boundary allowed="true">0.05</Boundary>
      <Uniform allowed="true">0.05</Uniform>
      <Gaussian allowed="true" sigma="5.0">0.05</Gaussian>
      <Duplication allowed="true">0.05</Duplication>
      <Deletion allowed="true">0.05</Deletion>
      <Insertion allowed="true">0.05</Insertion>
      <Swap allowed="true">0.05</Swap>
      <GeneDuplication allowed="true">0.05</GeneDuplication>
      <GeneDeletion allowed="true">0.05</GeneDeletion>
      <GeneInsertion allowed="true">0.05</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </Integer>
    <Double>
      <BitString allowed="true">0.0</BitString>
      <Boundary allowed="true">0.00</Boundary>
      <Uniform allowed="true">0.0</Uniform>
      <Gaussian allowed="true" sigma="5.0">1</Gaussian>
      <Duplication allowed="true">0.0</Duplication>
      <Deletion allowed="true">0.0</Deletion>
      <Insertion allowed="true">0.0</Insertion>
      <Swap allowed="true">0.0</Swap>
      <GeneDuplication allowed="true">0.01</GeneDuplication>
      <GeneDeletion allowed="true">0.0</GeneDeletion>
      <GeneInsertion allowed="true">0.01</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </Double>
    <Alphanum>
      <BitString allowed="true">0.05</BitString>
      <Uniform allowed="true">0.05</Uniform>
      <Duplication allowed="true">0.05</Duplication>
      <Deletion allowed="true">0.05</Deletion>
      <Insertion allowed="true">0.05</Insertion>
      <Swap allowed="true">0.05</Swap>
      <GeneDuplication allowed="true">0.05</GeneDuplication>
      <GeneDeletion allowed="true">0.05</GeneDeletion>
      <GeneInsertion allowed="true">0.05</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </Alphanum>
    <Custom>
      <BitString allowed="true">0.05</BitString>
      <Uniform allowed="true">0.05</Uniform>
      <Duplication allowed="true">0.05</Duplication>
      <Deletion allowed="true">0.05</Deletion>
      <Insertion allowed="true">0.05</Insertion>
      <Swap allowed="true">0.05</Swap>
      <GeneDuplication allowed="true">0.05</GeneDuplication>
      <GeneDeletion allowed="true">0.05</GeneDeletion>
      <GeneInsertion allowed="true">0.05</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </Custom>
    <List>
      <BitString allowed="true">0.05</BitString>
      <Boundary allowed="true">0.05</Boundary>
      <Uniform allowed="true">0.05</Uniform>
      <Gaussian allowed="true" sigma="5.0">0.05</Gaussian>
      <Duplication allowed="true">0.05</Duplication>
      <Deletion allowed="true">0.05</Deletion>
      <Insertion allowed="true">0.05</Insertion>
      <Swap allowed="true">0.05</Swap>
      <GeneDuplication allowed="true">0.05</GeneDuplication>
      <GeneDeletion allowed="true">0.05</GeneDeletion>
      <GeneInsertion allowed="true">0.05</GeneInsertion>
      <GeneSwap allowed="true">0.05</GeneSwap>
    </List>
  </Mutations>
</Config>