<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Title>Title of this job</Title>
  <Description>A more detailed discription of this job.</Description>
  <DirectoryPath>C:\Darwin</DirectoryPath>
  <GenomeType chromosomes="6">1</GenomeType>
  <FitnessFunction>Tokamak</FitnessFunction>
  <Settings>
    <PopulationSize>1000</PopulationSize>
    <MaxGenerations>10</MaxGenerations>
    <Truncation normalization="1">50</Truncation>
    <Elitism>true</Elitism>
    <MaxParents>2</MaxParents>
    <Recombination >3</Recombination>
  </Settings>
  <Mutations>
    <Binary>
      <BitString allowed="true">0.5</BitString>
      <FlipBits allowed="true">0.5</FlipBits>
      <Boundary allowed="true">0.5</Boundary>
      <Uniform allowed="true">0.5</Uniform>
      <Duplication allowed="true">0.5</Duplication>
      <Deletion allowed="true">0.5</Deletion>
      <Insertion allowed="true">0.5</Insertion>
    </Binary>
    <Integer>
      <BitString allowed="true">0.5</BitString>
      <Boundary allowed="true">0.5</Boundary>
      <Uniform allowed="true">0.5</Uniform>
      <Gaussian allowed="true" sigma="5.0">0.5</Gaussian>
      <Duplication allowed="true">0.5</Duplication>
      <Deletion allowed="true">0.5</Deletion>
      <Insertion allowed="true">0.5</Insertion>
    </Integer>
    <Double>
      <BitString allowed="true">0.5</BitString>
      <Boundary allowed="true">0.5</Boundary>
      <Uniform allowed="true">0.5</Uniform>
      <Gaussian allowed="true" sigma="5.0">0.5</Gaussian>
      <Duplication allowed="true">0.5</Duplication>
      <Deletion allowed="true">0.5</Deletion>
      <Insertion allowed="true">0.5</Insertion>
    </Double>
    <Alphanum>
      <BitString allowed="true">0.5</BitString>
      <Uniform allowed="true">0.5</Uniform>
      <Duplication allowed="true">0.5</Duplication>
      <Deletion allowed="true">0.5</Deletion>
      <Insertion allowed="true">0.5</Insertion>
    </Alphanum>
    <Custom>
      <BitString allowed="true">0.5</BitString>
      <Uniform allowed="true">0.5</Uniform>
      <Duplication allowed="true">0.5</Duplication>
      <Deletion allowed="true">0.5</Deletion>
      <Insertion allowed="true">0.5</Insertion>
    </Custom>
  </Mutations>
</Config>